<section class="section_page4">

    <div class="section_page4_header">
        <h2 class="page-title">My Story</h2>
    </div>

    <div class="section_page4_main">

        <div class="section_page4_section">
            <figure class="image-container">
                <img src="/index/page4/page4-1.jpg" alt="">
            </figure>

            <article class="section_page4_content">
                <h3>개발자가 되기로 결심한 계기</h3>
                <h4>
                    어린 시절부터 <span class="upper">누군가를 돕는 것</span>에 즐거움을 많이 느꼈습니다.
                    그래서 많은 사람을 돕고 싶다는 일념으로 행정학과를 진학했고 한때 공무원을 꿈꿨습니다. <br><br>

                    직장인이 되어서도 경영지원스탭을 했던 것도 나로 인해 직원들이 좋은 환경에서 일할 수 있고,
                    그로 인해 회사가 성장할 수 있다면 그것에 보람을 느낄 수 있었기 때문입니다. <br><br>

                    하지만, 짧은 직장생활동안 타인을 돕는 역할보다는 맹목적으로 경영진의 지시를 따르는 일이 더 많았고,
                    그것이 경영지원 스탭의 숙명이라는 것을 알았을 때, 새로운 직업을 가져야겠다는 결심을 했습니다. <br><br>
                    
                    결국 좋은 이상을 품고 있더라도 그것을 실행할 <span class="upper">실력</span>이 없다면 소용없다는 것을 느꼈습니다. <br><br>

                    "나의 능력으로 <span class="upper">많은 사람들을 이롭게</span> 할 수 있는 일"을 탐구하던 중 저의 욕구와 발전방향이 일치하는 것이 <span class="emphasis">코딩</span>이라는 것을 알게 되었고,
                    주변의 만류에도 불구하고 지체없이 회사를 그만두고 코딩에 도전하게 되었습니다.
                </h4>
            </article>
        </div>

        <div class="section_page4_section">
            <figure class="image-container">
                <img src="/index/page4/page4-2.jpg" alt="">
            </figure>

            <article class="section_page4_content">
                <h3>어떤 개발자가 되고 싶은지?</h3>
                <div class="emphasis" style="margin-top: 75px;">&lt; 가슴이 따뜻한 개발자 &gt;</div>
                <h4>
                    코딩의 가장 큰 매력은 블루오션 분야인것 이라고 생각합니다. <br>
                    지금 이 순간에도 끊임없이 <span class="upper">새로운 기술</span>들이 발전하고 있고, <br>
                    <span class="upper"">노력하여 성취</span>할 수만 있다면 누구라도 진입장벽 없이 경쟁할 수 있다고 생각합니다. <br><br>

                    또다른 매력은 인터넷이라는 어마어마한 것을 무기로 한다는 점입니다.
                    만일 제가 공무원 혹은 회사원으로써 승승장구 했다면 저의 영향력은 대한민국 내, 회사 내 혹은 일부 지역사회에 한정됐을 겁니다.
                    하지만, <span class="upper"">아이디어</span>만 있다면 이제는 <span class="upper">전세계 사람들을 대상</span>으로 쇼타임을 벌일 수 있다는 것이 너무나도 가슴뛰게 합니다. <br><br>

                    얼마전 '다시 한번'이라는 TV 프로그램에서 인공지능 기술로 故 터틀맨의 목소리를 완벽하게 재현해내 많은 사람들에게 감동을 주었습니다.
                </h4>
                <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/Jm0s0CEEd3Q" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                ></iframe>
                <h4>
                    세상엔 드러나지 않은 <span class="upper">수많은 수요</span>들이 있습니다. 그것은 문제를 해결하는 것일 수도 있고, 더 나은 삶을 위한 것일수도 있습니다. <br><br>
                    저의 기술로 인해 많은 사람들이 좀더 <span class="upper">편리한 생활</span>을 할 수 있고, <span class="upper">문제를 해결</span>할 수 있고, <span class="upper">웃음과 감동</span>을 얻을 수 있다면 큰 보람을 느낄 것입니다. <br><br>

                    엔지니어는 차갑고 이성적일 것이라는 선입견이 있습니다. 하지만, 저는 <span class="emphasis">가슴이 따뜻하고 주변에 귀를 기울일</span> 수 있는 개발자가 되고 싶습니다.
                </h4>
            </article>
        </div>

        <div class="section_page4_section">
            <figure class="image-container">
                <img src="/index/page4/page4-3.jpg" alt="">
            </figure>

            <article class="section_page4_content">
               <h3>나란 사람은?</h3>
               <h4>
                    ❏ MBTI <br><br>

                    흔히들 한번 하고 넘어갈 성격테스트라고 생각할 수 있습니다. 저는 어렸을때부터 '나는 왜 이럴까?'라는 고민이 많았습니다. <br>
                    하지만 MBTI를 알고 난 후, '나는 원래 이런사람이구나'라는 것을 알고 심리적으로도 편해졌고 자존감도 높아졌습니다. <br><br>

                    저는 <span class="upper">선의의 옹호자, 예언자</span>로 알려진 <span class="emphasis">INFJ</span> 유형입니다. <br>
                    INFJ 유형의 사람들은 다음과 같은 특징을 가지고 있습니다. <br>
                    <div style="width: fit-content; border: 1px solid white; padding: 25px; margin-top: 10px; box-shadow: 10px 10px white; font-size: 25px;">
                        ㆍ 인내심이 많고, 직관력이 뛰어남 <br>
                        ㆍ 강한 직관력으로 타인에게 좋은 영향을 끼치려 함 <br>
                        ㆍ 창의력이 좋음 <br>
                        ㆍ 신념과 열정으로 자신의 영감을 구현 <br>
                        ㆍ 공감능력이 좋고 경청을 잘함
                    </div>
               </h4>
               
               <h4>
                    ❏ 취미 : 런닝 <br><br>

                    2019년에 친구의 권유로 시작하여 특별하게 날씨가 나쁘지 않다면 매일 5km씩 뛰고 있습니다.
                    시원한 바람을 맞으며 달릴때면 몸도 가벼워지고, 근심걱정도 사라지는 느낌이 너무 좋습니다. <br><br>
                    타고난 신체가 강하지 않아 나이를 먹을수록 체력 걱정이 많았지만, 런닝을 시작한 이후로 나날이 좋아지고 있는 것을 느낍니다.
                    <span class="lower">(코로나가 종식되면)</span> 연 2회 이상의 대회 참여를 목표로 하고 있습니다.

                    <div class="running">
                        <img src="/index/page4/running1.jpg">
                        <img src="/index/page4/running2.jpg">
                        <img src="/index/page4/running3.png">
                    </div>
               </h4>

               <h4>
                    ❏ 취미 : 해외여행 <br><br>

                    여행의 목적은 모두들 다르겠지만, 저에게 여행은 <span class="upper">'배움'</span>입니다.
                    다양한 문화와 관습을 느끼며, 세상에 정말 많은 것들이 공존하고 있고 그것들 모두 소중하다는 '겸손함'을 느낍니다. <br>
                    그래서 나 자신의 관점에 갖히기 보다는 더 <span class="emphasis">유연하고 관대한 사람</span>이 되겠다는 소중한 기회를 갖게됩니다. <br><br>

                    2016년에 첫 해외여행을 간 이래, 5년간 9개국 19개 도시를 방문했습니다.

                    <div class="travel_carousel">
                        <div>
                            <img src="/index/page4/beijing.jpg" alt="beijing">
                            <h5>2016 . China - Beijing</h5>
                        </div>
                        <div>
                            <img src="/index/page4/bangkok.jpg" alt="bangkok">
                            <h5>2016 . Thailand - Bangkok</h5>
                        </div>
                        <div>
                            <img src="/index/page4/pataya.jpg" alt="pataya">
                            <h5>2016 . Thailand - Pataya</h5>
                        </div>
                        <div>
                            <img src="/index/page4/cebu.jpg" alt="cebu">
                            <h5>2016 . Philippines - Cebu</h5>
                        </div>
                        <div>
                            <img src="/index/page4/tokyo.jpg" alt="tokyo">
                            <h5>2017 . Japan - Tokyo</h5>
                        </div>
                        <div>
                            <img src="/index/page4/rotenburg.jpg" alt="rotenburg">
                            <h5>2017 . Germany - Rotenburg</h5>
                        </div>
                        <div>
                            <img src="/index/page4/munchen.jpg" alt="munchen">
                            <h5>2017 . Germany - München</h5>
                        </div>
                        <div>
                            <img src="/index/page4/salzburg.jpg" alt="salzburg">
                            <h5>2017 . Austria - Salzburg</h5>
                        </div>
                        <div>
                            <img src="/index/page4/salzgammergut.jpg" alt="salzgammergut">
                            <h5>2017 . Austria - Salzgammergut</h5>
                        </div>
                        <div>
                            <img src="/index/page4/hallstatt.jpg" alt="hallstatt">
                            <h5>2017 . Austria - Hallstatt</h5>
                        </div>
                        <div>
                            <img src="/index/page4/vienna.jpg" alt="vienna">
                            <h5>2017 . Austria - Vienna</h5>
                        </div>
                        <div>
                            <img src="/index/page4/praha.jpg" alt="praha">
                            <h5>2017 . Czech - Praha</h5>
                        </div>
                        <div>
                            <img src="/index/page4/bamberg.jpg" alt="bamberg">
                            <h5>2017 . Germany - Bamberg</h5>
                        </div>
                        <div>
                            <img src="/index/page4/wurzburg.jpg" alt="wurzburg">
                            <h5>2017 . Germany - Würzburg</h5>
                        </div>
                        <div>
                            <img src="/index/page4/astana.jpg" alt="astana">
                            <h5>2017 . Kazahstan - Astana</h5>
                        </div>
                        <div>
                            <img src="/index/page4/danang.jpg" alt="danang">
                            <h5>2018 . Viet Nam - Danang</h5>
                        </div>
                        <div>
                            <img src="/index/page4/hue.jpg" alt="hue">
                            <h5>2018 . Viet Nam - Hue</h5>
                        </div>
                        <div>
                            <img src="/index/page4/hoian.jpg" alt="hoian">
                            <h5>2018 . Viet Nam - Hoi an</h5>
                        </div>
                        <div>
                            <img src="/index/page4/jangjiajie.jpg" alt="jangjiajie">
                            <h5>2019 . China - Jangjiajie</h5>
                        </div>
                    </div>
               </h4>
               
            </article>
        </div>

    </div>

    <h2 class="section_page4_footer">End .</h2>

</section>

<script>
    document.querySelector('.section_page4').addEventListener("mouseenter", () => {
        document.querySelector('.section_page4').style.overflowY = "scroll";
    })
    document.querySelector('.section_page4').addEventListener("mouseleave", () => {
        document.querySelector('.section_page4').style.overflowY = "hidden";
    })
    
    $('.travel_carousel').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
    });
</script>