<div class="portfolio_04">

    <div class="portfolio_04_left">

        <div class="portfolio_04_left_background">

            <div class="portfolio_04_left_container">

                <p class="page_number">4 / 7</p>

                <div class="portfolio_title">
                    <h6 style="padding-left: 5px; letter-spacing: 10px;">CLONE CODING</h6>                    
                    <h3>GENESIS</h3>
                </div>
                
                <div class="portfolio_icon">
                    <img src="index/page3/icon_html_black.svg" alt="html5">
                    <img src="index/page3/icon_css_black.svg" alt="css3">
                    <img src="index/page3/icon_js_black.svg" alt="es6">
                </div>

                <div class="portfolio_window">
                    <div class="portfolio_window_top">
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                    </div>
                    <div class="portfolio_window_bottom">
<pre class="portfolio_font">
{
    "<span class="color_fce96a">CSS</span>" : [
        "<span class="color_00ffff">Sibling Selector</span>",
        "<span class="color_00ffff">Structure Selector</span>",
        "<span class="color_00ffff">Pseudo Selector</span>",
    ],
    "<span class="color_fce96a">javaScript</span>" : [
        "<span class="color_00ffff">Multiple Carousel</span>",
        "<span class="color_00ffff">Timing Event</span>",
        "<span class="color_00ffff">Modal Box</span>",
        "<span class="color_00ffff">Scroll Event</span>",
        "<span class="color_00ffff">Youtube API</span>",
    ]
}
</pre>
                    </div>

                </div>

                <div class="portfolio_text">
                    <p>
                        설명 : 과정 수료 후 프런트엔드 종합 프로젝트<br>
                    </p>
                    <p>
                        작업기간 : 20.06
                    </p>
                    <p>작업범위 : 메인페이지</p>
                    
                    <a class="link_portfolio" href="https://h-genie.github.io/genesis" target="_blank">
                        <h6>PORTFOLIO</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

    <div class="portfolio_04_right">        
        <video autoplay loop muted controls>
            <source src="index/page3/mockup_03_04.mp4" type="video/mp4">
        </video>
    </div>

</div>