<div class="portfolio_06">

    <div class="portfolio_06_left">

        <div class="portfolio_06_left_background">

            <div class="portfolio_06_left_container">

                <p class="page_number">6 / 7</p>

                <div class="portfolio_title">
                    <h6 style="padding-left: 4px; letter-spacing: 13.5px;">DEVELOPMENT</h6>                    
                    <h3>NWITTER</h3>
                </div>
                
                <div class="portfolio_icon">                    
                    <img src="index/page3/icon_react_black.svg" alt="react">
                    <img src="index/page3/icon_firebase_black.svg" alt="firebase">
                </div>

                <div class="portfolio_window">
                    <div class="portfolio_window_top">
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                    </div>
                    <div class="portfolio_window_bottom">
<pre class="portfolio_font">
{    
    "<span class="color_fce96a">React</span>" : [
        "<span class="color_00ffff">React Hook</span>",
        "<span class="color_00ffff">React Router</span>"    
    ],
    "<span class="color_fce96a">Firebase</span>" : [
        "<span class="color_00ffff">Cloud Firestore</span>",
        "<span class="color_00ffff">Authentication (Google, Github)</span>",
        "<span class="color_00ffff">NoSQL CRUD</span>",
        "<span class="color_00ffff">Realtime Database</span>",
        "<span class="color_00ffff">Profile Page</span>",
        "<span class="color_00ffff">File Upload</span>",
        "<span class="color_00ffff">API Key Security</span>"
    ]
}
</pre>
                    </div>

                </div>

                <div class="portfolio_text">
                    <p>
                        설명 : 파이어베이스 활용 연습<br>
                        <span style="visibility: hidden;">설명 : </span>백엔드 코드없이 서버사이드 구현<br>
                        <span style="visibility: hidden;">설명 : </span>리얼타임 DB
                    </p>
                    <p>
                        작업기간 : 20.09 ~ 20.10
                    </p>
                    
                    <a class="link_portfolio" href="https://h-genie.github.io/nwitter" target="_blank">
                        <h6>PORTFOLIO</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

    <div class="portfolio_06_right">
        <div class="smartphone">
            <div class="content">
                <iframe src="https://h-genie.github.io/nwitter"></iframe>
            </div>
        </div>

        <div class="smartphone">
            <div class="content">
                <iframe src="https://h-genie.github.io/nwitter"></iframe>
            </div>
        </div>
    </div>

</div>