<div class="portfolio_02">

    <div class="portfolio_02_left">

        <div class="portfolio_02_left_background">

            <div class="portfolio_02_left_container">

                <p class="page_number">2 / 7</p>

                <div class="portfolio_title">
                    <h6 style="padding-left: 4px; letter-spacing: 9.5px;">CLONE CODING</h6>                    
                    <h3>NETFLIX</h3>
                </div>
                
                <div class="portfolio_icon">
                    <img src="index/page3/icon_html_black.svg" alt="html5">
                    <img src="index/page3/icon_css_black.svg" alt="css3">
                    <img src="index/page3/icon_js_black.svg" alt="es6">
                    <img src="index/page3/icon_node_black.svg" alt="node.js">
                    <img src="index/page3/icon_react_black.svg" alt="react">
                </div>

                <div class="portfolio_window">
                    <div class="portfolio_window_top">
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                    </div>
                    <div class="portfolio_window_bottom">
<pre class="portfolio_font">
{
    "<span class="color_fce96a">HTML</span>" : "<span class="color_00ffff">Form Tag</span>",            
    "<span class="color_fce96a">javaScript</span>" : "<span class="color_00ffff">Loops</span>",
    "<span class="color_fce96a">Node.js</span>" : [
        "<span class="color_00ffff">Express</span>", "<span class="color_00ffff">Route</span>",
        "<span class="color_00ffff">ejs</span>", "<span class="color_00ffff">MySQL</span>",
        "<span class="color_00ffff">Session Login</span>", "<span class="color_00ffff">AES</span>"
    ],
    "<span class="color_fce96a">React</span>" : [
        "<span class="color_00ffff">Class Component</span>", "<span class="color_00ffff">State</span>",
        "<span class="color_00ffff">Array Method</span>", "<span class="color_00ffff">Axios</span>",
        "<span class="color_00ffff">Browser Router</span>" 
    ]
}
</pre>
                    </div>

                </div>

                <div class="portfolio_text">
                    <p>
                        설명 : 미디어쿼리, form 태그 학습<br>
                        <span style="visibility: hidden;">설명 : </span>Node.js와 리액트 학습 후 디벨롭<br>
                    </p>
                    <p>
                        작업기간 : 20.04 HTL CSS javaScript<br>
                        <span style="visibility: hidden;">작업기간 : </span>20.08 Node.js<br>
                        <span style="visibility: hidden;">작업기간 : </span>20.09 React<br>
                    </p>
                    <p>작업범위 : 메인 + 로그인 페이지 + 리액트 페이지</p>
                    
                    <a class="link_portfolio" href="https://genie-netflix.herokuapp.com" target="_blank">
                        <h6>PORTFOLIO</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

    <div class="portfolio_02_right">
        <img src="index/page3/mockup_03_02.png" alt="netflix">
    </div>

</div>