<div class="section_page2">
    <div class="neumorphism_container">
        <a class="neumorphism" href="index/page2/resume.pdf" target="_blank">
            <img src="index/page2/page2_left.jpg">
        </a>
        
        <!-- <div class="neumorphism">
            <video autoplay loop muted id="play_video">
                <source src="index/page2/resume.mp4" type="video/mp4">
            </video>
            <div class="fullscreen" onclick="fullScreen()">
                <i class="fas fa-expand"></i>
            </div>
        </div> -->
    </div>
    <!-- <div class="neumorphism_text">
        <h3>RESUME <span style="font-size: 40px;">: PDF</span></h3>
        <h3>RESUME <span style="font-size: 40px;">: MP4</span></h3>
    </div> -->
</div>

<!-- <script>
    fullScreen = () => {
        document.getElementById("play_video").requestFullscreen();
    }
</script> -->