<div class="modal_box modal_05">
    <img src="index/page3/modal_05.jpg" class="event_target0" alt="logic">
</div>

<div class="portfolio_05">

    <div class="portfolio_05_right">
        <img src="index/page3/mockup_03_05.png" alt="flag-game">
    </div>

    <div class="portfolio_05_left">

        <div class="portfolio_05_left_background">

            <div class="portfolio_05_left_container">

                <p class="page_number">5 / 7</p>

                <div class="portfolio_title">
                    <h6 style="padding-left: 5px; letter-spacing: 11px;">WEB GAMING</h6>                    
                    <h3 style="font-size: 51px;">FLAG GAME</h3>
                </div>
                
                <div class="portfolio_icon">
                    <img src="index/page3/icon_html_black.svg" alt="html5">
                    <img src="index/page3/icon_css_black.svg" alt="css3">
                    <img src="index/page3/icon_js_black.svg" alt="es6">
                </div>

                <div class="portfolio_window">
                    <div class="portfolio_window_top">
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                    </div>
                    <div class="portfolio_window_bottom">
<pre class="portfolio_font">
{    
    "<span class="color_fce96a">javaScript</span>" : [
        "<span class="color_00ffff">Math Object</span>",
        "<span class="color_00ffff">Switch Statement</span>",
        "<span class="color_00ffff">Timing Event</span>",
        "<span class="color_00ffff">Conditional Statement</span>",
        "<span class="color_00ffff">Function Parameters</span>"
    ]
}
</pre>
                    </div>

                </div>

                <div class="portfolio_text">
                    <p>
                        설명 : 웹사이트 이외의 자바스크립트 활용 연습<br>
                        <span style="visibility: hidden;">설명 : </span>백그라운드 로직 설계 연습
                    </p>
                    <p>
                        작업기간 : 20.07
                    </p>
                    
                    <a class="link_portfolio" onclick="modal(5)">
                        <h6>LOGIC</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                    <a class="link_portfolio" href="https://h-genie.github.io/flag-game" target="_blank">
                        <h6>PORTFOLIO</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

</div>