<div class="modal_box modal_03">
    <iframe src="https://h-genie.github.io/study/javascript_slide.html" class="modal_content"></iframe>
</div>

<div class="portfolio_03">

    <div class="portfolio_03_right">
        <img src="index/page3/mockup_03_03.png" alt="naver">
    </div>

    <div class="portfolio_03_left">

        <div class="portfolio_03_left_background">

            <div class="portfolio_03_left_container">

                <p class="page_number">3 / 7</p>

                <div class="portfolio_title">
                    <h6 style="padding-left: 4px; letter-spacing: 8.5px;">CLONE CODING</h6>                    
                    <h3 style="font-size: 50px;">NAVER Corp</h3>
                </div>
                
                <div class="portfolio_icon">
                    <img src="index/page3/icon_html_black.svg" alt="html5">
                    <img src="index/page3/icon_css_black.svg" alt="css3">
                    <img src="index/page3/icon_js_black.svg" alt="es6">
                </div>

                <div class="portfolio_window">
                    <div class="portfolio_window_top">
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                    </div>
                    <div class="portfolio_window_bottom">
<pre class="portfolio_font">
{
    "<span class="color_fce96a">CSS</span>" : "<span class="color_00ffff">Pseudo Elements</span>",            
    "<span class="color_fce96a">javaScript</span>" : [
        "<span class="color_00ffff">Single Carousel</span>",
        "<span class="color_00ffff">Timing Event</span>",
        "<span class="color_00ffff">Event Listener</span>",
        "<span class="color_00ffff">Scroll Event</span>",
        "<span class="color_00ffff">Mouseover Listener</span>",
    ]
}
</pre>
                    </div>

                </div>

                <div class="portfolio_text">
                    <p>
                        설명 : 자바스크립트 학습 후 프로젝트<br>
                        <span style="visibility: hidden;">설명 : </span>(캐러셀 로직에 중점)
                    </p>
                    <p>
                        작업기간 : 20.05
                    </p>
                    <p>작업범위 : 메인페이지</p>
                    
                    <a class="link_portfolio" onclick="modal(3)">
                        <h6>LOGIC</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                    <a class="link_portfolio" href="https://h-genie.github.io/naver" target="_blank">
                        <h6>PORTFOLIO</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

</div>