<div class="modal_box modal_07">
    <div class="modal_content">
        <img src="index/page3/modal_07_01.jpg" class="event_target0" onclick="newTabOpen(7,1,'jpg')" alt="flowchart">
        <img src="index/page3/modal_07_02.jpg" class="event_target1" onclick="newTabOpen(7,2,'jpg')" alt="flowchart">
        <img src="index/page3/modal_07_03.jpg" class="event_target2" onclick="newTabOpen(7,3,'jpg')" alt="flowchart">
    </div>
</div>

<div class="portfolio_07">

    <div class="portfolio_07_left">

        <div class="portfolio_07_left_background">

            <div class="portfolio_07_left_container">

                <p class="page_number">7 / 7</p>

                <div class="portfolio_title">
                    <h6 style="padding-left: 4px; letter-spacing: 11px;">BUSINESS</h6>                    
                    <h3 style="font-size: 39px;">VOM ACADEMY</h3>
                </div>
                
                <div class="portfolio_icon">
                    <img src="index/page3/icon_html_black.svg" alt="html5">
                    <img src="index/page3/icon_css_black.svg" alt="css3">
                    <img src="index/page3/icon_js_black.svg" alt="es6">
                    <img src="index/page3/icon_jquery_black.svg" alt="jquery">
                    <img src="index/page3/icon_php_black.svg" alt="php">
                </div>

                <div class="portfolio_window">
                    <div class="portfolio_window_top">
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                        <div class="window_button"></div>
                    </div>
                    <div class="portfolio_window_bottom">
<pre class="portfolio_font">
{   
    "<span class="color_fce96a">javaScript</span>" : [
        "<span class="color_00ffff">Create Element & Append Child</span>",
        "<span class="color_00ffff">Parameter</span>", "<span class="color_00ffff">This Keyword</span>"
    ],
    "<span class="color_fce96a">jQuery</span>" : "<span class="color_00ffff">Ajax</span>",
    "<span class="color_fce96a">PHP</span>" : [
        "<span class="color_00ffff">SQL CRUD</span>", "<span class="color_00ffff">Session Login</span>",
        "<span class="color_00ffff">Hashed Password</span>", "<span class="color_00ffff">Mail Function</span>",
        "<span class="color_00ffff">My Page / Admin Page</span>", 
        "<span class="color_00ffff">Database Design</span>"
    ]
}
</pre>
                    </div>

                </div>

                <div class="portfolio_text">
                    <p>
                        설명 : 프런트엔드 개발 + 백엔드 점검<br>                        
                        <span style="visibility: hidden;">설명 : </span>Adobe XD 활용 (디자이너와 협업)<br>
                        <span style="visibility: hidden;">설명 : </span>검색엔진 등록 / 자동가입 방지 리캡챠
                    </p>
                    <p>
                        작업기간 : 20.10 ~ 20.12
                    </p>
                    <p style="margin-bottom: 10px;">작업범위 : 메인페이지 7 + 서브페이지 9 + 백엔드</p>
                    
                    <a class="link_portfolio" href="https://www.vomacademy.com" target="_blank" style="display: inline-block;">
                        <h6>SITE</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                    <a class="link_portfolio" onclick="modal(7)" style="display: inline-block;">
                        <h6>FLOWCHART</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                    <a class="link_portfolio" href="https://xd.adobe.com/view/d2c60d54-3c38-4f9b-76b2-f2bffc1012e4-a4f7" target="_blank">
                        <h6>DESIGN GUIDE</h6>
                        <span id="line_right"></span>
                        <span id="line_bottom"></span>
                        <span id="line_left"></span>
                        <span id="line_top"></span>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

    <div class="portfolio_07_right">
        <img src="index/page3/mockup_03_07.png" alt="vomacademy">
    </div>

</div>